Django>=5.2,<6
mysqlclient
beautifulsoup4
lxml
requests
django-tables2
django-filter
django-crispy-forms
crispy-bootstrap4
django-bootstrap4
django-debug-toolbar
django-extensions
django-import-export
openpyxl
tablib
xlrd
xlwt
